.login-container{
    background-color: #ffffffa3;
    margin: 6rem;
    padding: 4rem;
    border-radius: 3rem;
}
input[type=text], input[type=password] { 
     width: 50%; 
     margin: 8px 0;
     padding: 12px 20px; 
     display: inline-block; 
     border: 2px solid black; 
     border-radius: 3rem;
     box-sizing: border-box; 
 }
button:hover { 
     transform: scale(1.1);
 } 


